@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Network.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SmartCar.Default.NetworkGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>